<a href="https://colab.research.google.com/github/Angel-dash/CG_1/blob/main/Copy_of_diabetes_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and analysis
PIMA diabetes dataset

In [ ]:
#loading the diabetes dataset to pandas Datafream
diabetes_dataset = pd.read_csv('/content/diabetes_classification_data3 - Copy.csv')

In [ ]:
#printing the first five rows of the dataset
diabetes_dataset.head()

,Age,Insulin_Up,Insulin_down,Insulin_steady,A1C Levels,On Medication,Output
0,70,1,0,0,8.5,1,0
1,70,1,0,0,8.5,1,1
2,60,1,0,0,8.5,1,0
3,60,1,0,0,8.5,1,0
4,60,0,0,1,8.5,1,0

In [ ]:
#number of rows and columns in this dataset
diabetes_dataset.shape

(39, 7)

In [ ]:
#getting the statistical measrures of the data
diabetes_dataset.describe()

,Age,Insulin_Up,Insulin_down,Insulin_steady,A1C Levels,On Medication,Output
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000
mean,47.948718,0.435897,0.102564,0.461538,7.884615,0.923077,0.256410
std,19.891745,0.502356,0.307355,0.505035,0.692645,0.269953,0.442359
min,10.000000,0.000000,0.000000,0.000000,6.500000,0.000000,0.000000
25%,40.000000,0.000000,0.000000,0.000000,8.000000,1.000000,0.000000
50%,50.000000,0.000000,0.000000,0.000000,8.000000,1.000000,0.000000
75%,60.000000,1.000000,0.000000,1.000000,8.500000,1.000000,0.500000
max,90.000000,1.000000,1.000000,1.000000,8.500000,1.000000,1.000000

In [ ]:
diabetes_dataset['Output'].value_counts()

0    29
1    10
Name: Output, dtype: int64

0--> Type 2
1--> Type 1

In [ ]:
diabetes_dataset.groupby('Output').mean()

,Age,Insulin_Up,Insulin_down,Insulin_steady,A1C Levels,On Medication
Output,,,,,,
0,53.448276,0.413793,0.103448,0.482759,8.086207,0.896552
1,32.000000,0.500000,0.100000,0.400000,7.300000,1.000000

In [ ]:
#seperating the data and labels
X=diabetes_dataset.drop(columns=['Output','A1C Levels'],axis=1)

Y=diabetes_dataset['Output']

In [ ]:
print(X)

    Age  Insulin_Up  Insulin_down  Insulin_steady  On Medication
0    70           1             0               0              1
1    70           1             0               0              1
2    60           1             0               0              1
3    60           1             0               0              1
4    60           0             0               1              1
5    50           0             0               1              1
6    30           1             0               0              1
7    20           1             0               0              1
8    40           1             0               0              0
9    10           1             0               0              1
10   20           1             0               0              1
11   40           0             1               0              1
12   70           0             1               0              0
13   50           1             0               0              1
14   40           0             1               0              1
15   50           0             1               0              1
16   40           0             0               1              1
17   80           0             0               1              1
18   70           1             0               0              1
19   80           1             0               0              1
20   70           1             0               0              1
21   40           1             0               0              1
22   50           1             0               0              1
23   90           0             0               1              1
24   40           0             0               1              1
25   60           0             0               1              1
26   10           0             0               1              1
27   20           1             0               0              1
28   20           1             0               0              1
29   40           0             0               1              1
30   40           0             0               1              1
31   60           0             0               1              1
32   60           0             0               1              1
33   20           0             0               1              1
34   50           0             0               1              1
35   50           0             0               1              0
36   60           0             0               1              1
37   40           0             0               1              1
38   40           0             0               1              1

In [ ]:
print(Y)

0     0
1     1
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    0
14    1
15    0
16    1
17    0
18    0
19    0
20    0
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    1
29    0
30    0
31    0
32    0
33    1
34    0
35    0
36    0
37    0
38    0
Name: Output, dtype: int64

In [ ]:
#Data Standarization in particular range so machine learning model can make predection 
#scaler = StandardScaler()

In [ ]:
#scaler.fit(X)

In [ ]:
#standarized_data=scaler.transform(X)#this will transfrom the data in the same range

In [ ]:
#print(standarized_data)

In [ ]:
#X=standarized_data
#Y=diabetes_dataset['Output']

In [ ]:
print(X) #X will give standarized data
print(Y)# Y wil give label of the outcome i.e diabetic or non-diabetic

    Age  Insulin_Up  Insulin_down  Insulin_steady  On Medication
0    70           1             0               0              1
1    70           1             0               0              1
2    60           1             0               0              1
3    60           1             0               0              1
4    60           0             0               1              1
5    50           0             0               1              1
6    30           1             0               0              1
7    20           1             0               0              1
8    40           1             0               0              0
9    10           1             0               0              1
10   20           1             0               0              1
11   40           0             1               0              1
12   70           0             1               0              0
13   50           1             0               0              1
14   40           0             1               0              1
15   50           0             1               0              1
16   40           0             0               1              1
17   80           0             0               1              1
18   70           1             0               0              1
19   80           1             0               0              1
20   70           1             0               0              1
21   40           1             0               0              1
22   50           1             0               0              1
23   90           0             0               1              1
24   40           0             0               1              1
25   60           0             0               1              1
26   10           0             0               1              1
27   20           1             0               0              1
28   20           1             0               0              1
29   40           0             0               1              1
30   40           0             0               1              1
31   60           0             0               1              1
32   60           0             0               1              1
33   20           0             0               1              1
34   50           0             0               1              1
35   50           0             0               1              0
36   60           0             0               1              1
37   40           0             0               1              1
38   40           0             0               1              1
0     0
1     1
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     1
10    1
11    0
12    0
13    0
14    1
15    0
16    1
17    0
18    0
19    0
20    0
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    1
29    0
30    0
31    0
32    0
33    1
34    0
35    0
36    0
37    0
38    0
Name: Output, dtype: int64

Spliting train and test data

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=2)#train_split_data is already imported from the from sklearn.model_selection import train_test_split
#Y_train contains all the lebel for the X_train data and Y_test contains all the labels for the X_test data
#stratify=Y means that the data will be split in a stratified manner, using Y as the class labels. This ensures that the proportion of each class in the training and test sets is the same as in the original data.
#random_state=2 sets the random seed to ensure that the results are reproducible.

In [ ]:
print(X.shape, X_train.shape,X_test.shape)

(39, 5) (31, 5) (8, 5)

Training the model

In [ ]:
classifier=svm.SVC(kernel='linear')#here we are loading the support vector model
#A linear kernel is a simple and effective way to separate data that is linearly separable, 
#meaning that a straight line can be drawn to separate the different classes. 
#In the case of diabetes detection using machine learning, it’s possible that the data is linearly separable
# and a linear SVM model can provide good classification performance.

In [ ]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation 

Accuracy Score

In [ ]:
#accuracy score on the training data
X_train_prediction=classifier.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [ ]:
print("Accuracy score of the training data: ", training_data_accuracy)

Accuracy score of the training data:  0.8064516129032258

In [ ]:
#accuracy score on the test data
X_test_prediction=classifier.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [ ]:
print("Accuracy sore on test data:",test_data_accuracy)

Accuracy sore on test data: 0.875

Making a predective system

In [ ]:
input_data = (10,	0,1	,0,	1)

#change the input data to a numpy array 
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we area predecting for one instance
#if we do not reshape the array then the model will expect to have 764 data which is the total number of dataset
#it will tell the model we are not looking for all the other 764 instances but only for one instances
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

#we need to standarized the input data since we are not using the raw data but the standarized input data

#standaraizes the input data
#std_data=scaler.transform(input_data_reshaped)
#print(std_data)

prediction=classifier.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):#The prediction gives the values the value in the form of a list and the result is displayed at an index of 0 so
  print("The person is type 2 diabetic")
else:
  print("The person is type 1 diabetic")

[1]
The person is type 1 diabetic

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Saving the trained model

In [ ]:
import pickle

In [ ]:
filename = 'Diabetes_trained_modelv2.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [ ]:
# loading the saved model
loaded_model = pickle.load(open('Diabetes_trained_modelv2.sav', 'rb'))

In [ ]:
input_data=(80,0,0,0,0)

#change the input data to a numpy array 
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we area predecting for one instance
#if we do not reshape the array then the model will expect to have 764 data which is the total number of dataset
#it will tell the model we are not looking for all the other 764 instances but only for one instances
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

#we need to standarized the input data since we are not using the raw data but the standarized input data

#standaraizes the input data
#std_data=scaler.transform(input_data_reshaped)
#print(std_data)

prediction=loaded_model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):#The prediction gives the values the value in the form of a list and the result is displayed at an index of 0 so
  print("The person is type 2 diabetic")
else:
  print("The person is type 1 diabetic")

[0]
The person is type 2 diabetic

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(