<a href="https://colab.research.google.com/github/Angel-dash/CG_1/blob/main/Copy_of_diabetes_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [24]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import re
import csv

In [25]:
# Read data from file
with open('data.txt', 'r') as file:
    lines = file.readlines()

In [26]:
print(lines)

['Aaron Abernathy is 70 years old Male. Insulin is Up. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds. Pt. got readmitted in <30 days.\n', 'Aaron Barker is 70 years old Male. Patient is on diabetes meds. Pt. has Diabetes with other specified manifestations- type 1. Patient consulted Family/GeneralPractice specialist. Pt. got readmitted in >30 days. Insulin is Up.\n', 'Aaron Carder is 30 years old Male. Insulin is unknown. His  lab work was conducted. A1c result is >8. Patient is taking metformin, glyburide. Patient is on diabetes meds. Pt. has Diabetes with other specified manifestations- type II.\n', 'Aaron Clayton is 80 years old Male. Pt. has Diabetes with other specified manifestations- type II. Patient consulted Family/GeneralPractice specialist. Insulin is Down. Patient is on diabetes meds.\n', 'Aaron Fallis is 50 years old Male. Pt. has Diabetes with other specified manifestations- type II. Patient is taking metformin, glimepiride, rosiglitazone. Patient is on diabetes meds. Insulin is Steady.\n', 'Aaron Foster is 30 years old Male. He likes having Apple Pie. Patient consulted Emergency/Trauma specialist. Patient is taking metformin. Insulin is Steady. Pt. has Diabetes mellitus- Type 1. Patient is on diabetes meds.\n', 'Aaron Fowler is 70 years old Male. His  lab work was conducted. Patient is taking glyburide. Insulin is unknown. Patient is on diabetes meds. Pt. got readmitted in >30 days. A1c result is >7. Pt. has Diabetes with renal manifestations- type II.\n', 'Aaron Kennedy is 70 years old Male. Insulin is unknown. Patient is taking glipizide. Pt. got readmitted in <30 days. Pt. has Diabetes with peripheral circulatory disorders- type II. Patient is on diabetes meds. Patient consulted InternalMedicine specialist.\n', 'Aaron Landes is 50 years old Male. Pt. has Diabetes with ketoacidosis- type 1. His  lab work was conducted. Patient is on diabetes meds. Insulin is Up. A1c result is >8.\n', 'Aaron Pierre is 60 years old Male. Patient consulted Cardiology specialist. Insulin is Up. Patient is on diabetes meds. Pt. has Diabetes with ketoacidosis- type II. Pt. got readmitted in >30 days.\n', 'Aaron Shannon is 60 years old Male. Pt. got readmitted in <30 days. Pt. has Diabetes with peripheral circulatory disorders- type II. Patient is on diabetes meds. Insulin is Up.\n', 'Aaron Torres is 60 years old Male. A1c result is >8. Insulin is Steady. His  lab work was conducted. Patient is on diabetes meds. Pt. has Diabetes with peripheral circulatory disorders- type II. Patient is taking metformin, glyburide, rosiglitazone.\n', 'Aaron Walsh is 50 years old Male. His  lab work was conducted. Patient is on diabetes meds. Patient consulted InternalMedicine specialist. Pt. got readmitted in >30 days. A1c result is >8. Pt. has Diabetes with other specified manifestations- type II. Patient is taking glipizide, pioglitazone. Insulin is Down.\n', 'Abel Rhinehart is 10 years old Male. Pt. got readmitted in >30 days. Patient is not on diabetes meds. Insulin is unknown. Pt. has Diabetes with ketoacidosis- type 1. He likes having Eggs.\n', 'Abraham Britt is 70 years old Male. Patient consulted Family/GeneralPractice specialist. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds. Pt. got readmitted in >30 days. Patient is taking metformin. Insulin is Steady.\n', 'Adalberto Garnett is 50 years old Male. Pt. has Diabetes with renal manifestations- type 1. Insulin is unknown. Pt. got readmitted in >30 days. Patient is not on diabetes meds.\n', 'Adam Blubaugh is 30 years old Male. Patient is taking metformin, glimepiride. Insulin is Up. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds.\n', 'Adam Fuller is 20 years old Male. Pt. got readmitted in >30 days. Pt. has Diabetes with neurological manifestations- type 1. Insulin is Down. He likes having Eggs. Patient is on diabetes meds. Patient consulted InternalMedicine specialist.\n', 'Adam Hawkins is 40 years old Male. Pt. has Diabetes with renal manifestations- type II. Insulin is unknown. Patient is not on diabetes meds.\n', 'Adam Kennedy is 10 years old Male. Pt. has Diabetes mellitus- Type 1. His  lab work was conducted. Insulin is Steady. A1c result is >8. He likes having Yogurt. Patient is on diabetes meds. Patient consulted Pediatrics-Endocrinology specialist.\n', 'Adam Maxwell is 20 years old Male. He likes having Potato. His  lab work was conducted. Patient consulted InternalMedicine specialist. Pt. has Diabetes with neurological manifestations- type II. A1c result is >8. Patient is on diabetes meds. Insulin is Steady.\n', 'Adam Niblett is 40 years old Male. His  lab work was conducted. Patient is on diabetes meds. Patient consulted InternalMedicine specialist. A1c result is >8. Insulin is Down. Pt. has Diabetes with other specified manifestations- type II. Pt. got readmitted in >30 days.\n', 'Adam Parrish is 70 years old Male. Pt. has Diabetes with other specified manifestations- type II. Pt. got readmitted in <30 days. Insulin is unknown. Patient is not on diabetes meds.\n', 'Adam Sullivan is 50 years old Male. Patient is on diabetes meds. Insulin is Up. A1c result is >8. Patient consulted Emergency/Trauma specialist. Pt. has Diabetes with ketoacidosis- type II. His  lab work was conducted.\n', 'Adam Sutton is 40 years old Male. Patient consulted InternalMedicine specialist. Insulin is Down. Pt. has Diabetes with other specified manifestations- type 1. Patient is on diabetes meds.\n', 'Adam Sweeney is 50 years old Male. Pt. has Diabetes with peripheral circulatory disorders- type II. Insulin is Up. Patient is on diabetes meds. Pt. got readmitted in >30 days. Patient is taking metformin. Patient consulted Family/GeneralPractice specialist.\n', 'Adam Yoshida is 40 years old Male. Patient consulted Surgery-General specialist. Patient is on diabetes meds. Insulin is Steady. A1c result is >7. Pt. has Diabetes with renal manifestations- type 1. His  lab work was conducted.\n', 'Adan Faust is 80 years old Male. Patient is on diabetes meds. Pt. has Diabetes with peripheral circulatory disorders- type II. Patient is taking repaglinide. Insulin is unknown. Patient consulted Surgery-Vascular specialist.\n', 'Adan Graham is 70 years old Male. Insulin is Up. Patient is on diabetes meds. Pt. has Diabetes with other coma- type 1. Patient consulted Nephrology specialist. Pt. got readmitted in <30 days.\n', 'Adolfo Guion is 80 years old Male. Insulin is Up. A1c result is >8. Pt. has Diabetes with other specified manifestations- type II. Patient consulted Emergency/Trauma specialist. His  lab work was conducted. Patient is taking glimepiride, rosiglitazone. Patient is on diabetes meds.\n', 'Adolph Phillips is 70 years old Male. Patient is on diabetes meds. His  lab work was conducted. Pt. has Diabetes with peripheral circulatory disorders- type II. Insulin is Down. A1c result is >8. Patient consulted InternalMedicine specialist. Pt. got readmitted in >30 days.\n', 'Adolph Shoemaker is 40 years old Male. Patient is on diabetes meds. Pt. has Diabetes with ketoacidosis- type II. Insulin is Up. Patient consulted Emergency/Trauma specialist.\n', 'Adolph Taylor is 50 years old Male. Pt. has Diabetes with other specified manifestations- type 1. Patient is on diabetes meds. Insulin is Down. His  lab work was conducted. Max Glucose Serum is >300. Patient is taking glipizide.\n', 'Adrian Arnold is 50 years old Male. His  lab work was conducted. Insulin is unknown. Patient is on diabetes meds. A1c result is Norm. Patient is taking repaglinide. Pt. has Diabetes with peripheral circulatory disorders- type II. Pt. got readmitted in <30 days.\n', 'Adrian Manley is 40 years old Male. Pt. has Diabetes with neurological manifestations- type II. Pt. got readmitted in >30 days. Patient is on diabetes meds. Patient is taking metformin, glipizide, rosiglitazone. Insulin is Steady.\n', 'Adrian Reynolds is 60 years old Male. Pt. has Diabetes with neurological manifestations- type II. Patient consulted Emergency/Trauma specialist. Insulin is Up. Patient is on diabetes meds. Pt. got readmitted in >30 days.\n', 'Adrian Robert is 90 years old Male. Insulin is Steady. Patient is on diabetes meds. Pt. has Diabetes with other specified manifestations- type II. Patient consulted Emergency/Trauma specialist.\n', 'Adrian Scott is 40 years old Male. Patient is on diabetes meds. Insulin is Steady. Patient consulted InternalMedicine specialist. Pt. has Diabetes with ketoacidosis- type 1. Pt. got readmitted in >30 days.\n', 'Agustin Wheeler is 60 years old Male. Pt. has Diabetes with neurological manifestations- type II. Insulin is unknown. Patient is taking nateglinide. Patient is on diabetes meds. Patient consulted Emergency/Trauma specialist.\n', 'Alan Bechtold is 10 years old Male. Insulin is Down. Pt. has Diabetes mellitus- Type 1. He likes having Cherry pie. Patient is on diabetes meds.\n', 'Alan Bobo is 20 years old Male. Pt. got readmitted in >30 days. He likes having Scrambled Eggs. Insulin is Up. Pt. has Diabetes with neurological manifestations- type II. Patient is on diabetes meds.\n', 'Alan Himes is 20 years old Male. Pt. has Diabetes with ketoacidosis- type 1. Pt. got readmitted in <30 days. Insulin is Up. A1c result is >8. He likes having Whole Milk. His  lab work was conducted. Patient is on diabetes meds.\n', 'Alan Larochelle is 40 years old Male. Insulin is Steady. Patient consulted Family/GeneralPractice specialist. A1c result is >8. His  lab work was conducted. Patient is taking metformin, pioglitazone. Pt. has Diabetes with neurological manifestations- type II. Patient is on diabetes meds. Pt. got readmitted in >30 days.\n', 'Alan Maiden is 40 years old Male. Patient consulted Emergency/Trauma specialist. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds. Patient is taking metformin. Insulin is unknown.\n', 'Alan Rogers is 60 years old Male. Patient consulted Family/GeneralPractice specialist. Pt. has Diabetes with renal manifestations- type II. Insulin is Steady. Patient is taking metformin, glimepiride, rosiglitazone. Patient is on diabetes meds.\n', 'Alan Rosado is 60 years old Male. Patient consulted Emergency/Trauma specialist. Patient is on diabetes meds. Pt. has Diabetes with hyperosmolarity- type II. A1c result is >8. Insulin is Down. His  lab work was conducted.\n', 'Albert Barbour is 20 years old Male. Patient consulted Family/GeneralPractice specialist. Pt. has Diabetes with ketoacidosis- type 1. Patient is on diabetes meds. He likes having Potato. Pt. got readmitted in <30 days. Insulin is Down.\n', 'Albert Bishop is 50 years old Male. Patient is taking metformin, rosiglitazone. Pt. has Diabetes with other specified manifestations- type II. Pt. got readmitted in >30 days. Insulin is Down. Patient is on diabetes meds. Patient consulted Orthopedics-Reconstructive specialist.\n', 'Albert Bostrom is 50 years old Male. Pt. has Diabetes with renal manifestations- type II. Insulin is unknown. Patient is not on diabetes meds.\n', 'Albert Clark is 60 years old Male. Pt. has Diabetes with neurological manifestations- type II. Patient is on diabetes meds. Insulin is Steady.\n', 'Albert Jacquez is 40 years old Male. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds. Pt. got readmitted in >30 days. Insulin is Steady.\n', 'Albert Jones is 40 years old Male. A1c result is >7. Pt. got readmitted in >30 days. Pt. has Diabetes with other specified manifestations- type II. Patient is on diabetes meds. Insulin is Down. Patient consulted Emergency/Trauma specialist. His  lab work was conducted. Patient is taking metformin, glimepiride.\n', 'Albert Kelley is 90 years old Male. His  lab work was conducted. Insulin is unknown. Patient is not on diabetes meds. Pt. got readmitted in >30 days. A1c result is >8. Pt. has Diabetes with other specified manifestations- type II.\n', 'Albert Kiel is 60 years old Male. Pt. got readmitted in >30 days. Pt. has Diabetes with other specified manifestations- type II. Insulin is unknown. Patient is not on diabetes meds.\n', 'Albert Lease is 40 years old Male. Pt. got readmitted in >30 days. Insulin is Steady. His  lab work was conducted. A1c result is >7. Patient is on diabetes meds. Pt. has Diabetes with ketoacidosis- type II .']

In [27]:
import pandas as pd

# Initialize empty lists to store patient information
names = []
ages = []
genders = []
diabetes_types = []
insulin_steady = []
insulin_up = []
insulin_down = []
readmission_statuses = []
medications = []
a1c_levels = []

# Process each patient record
for line in lines:
    line = line.strip()
    if line:
        parts = line.split('. ')
        patient_info = parts[0].split(' is ')
        name = patient_info[0]
        age_gender = patient_info[1].split(' years old ')
        age = int(age_gender[0])
        gender = age_gender[1]
        other_info = parts[1:]

        insulin = 'Unknown'
        medication = 'Not on diabetes meds'
        diabetes_type = 'Unknown'
        readmission_status = 'Unknown'
        a1c_level = 'Unknown'
        insulin_steady_value = 0
        insulin_up_value = 0
        insulin_down_value = 0

        for info in other_info:
            if info.startswith('Insulin'):
                insulin = info.split(' is ')[1]
                if insulin == 'Steady':
                    insulin_steady_value = 1
                elif insulin == 'Up':
                    insulin_up_value = 1
                elif insulin == 'Down':
                    insulin_down_value = 1
            elif info.startswith('Patient is on diabetes meds'):
                medication = 'Diabetes meds'
            elif 'type 1' in info:
                diabetes_type = 'Type I'
            elif 'type II' in info:
                diabetes_type = 'Type II'
            elif info.startswith('Pt. got readmitted'):
                readmission_status = info.split(' in ')[1]
            elif info.startswith('A1c result'):
                a1c_level = info.split(' is ')[1]

        names.append(name)
        ages.append(age)
        genders.append(gender)
        diabetes_types.append(diabetes_type)
        insulin_steady.append(insulin_steady_value)
        insulin_up.append(insulin_up_value)
        insulin_down.append(insulin_down_value)
        readmission_statuses.append(readmission_status)
        medications.append(medication)
        a1c_levels.append(a1c_level)

# Create a DataFrame from the collected data
data = {
    'Patient Name': names,
    'Age': ages,
    'Gender': genders,
    'Output': diabetes_types,
    'Insulin Steady': insulin_steady,
    'Insulin Up': insulin_up,
    'Insulin Down': insulin_down,
    'Readmitted Status': readmission_statuses,
    'Medications': medications,
    'A1C Level': a1c_levels
}
db = pd.DataFrame(data)

In [28]:
print(db)

         Patient Name  Age Gender   Output  Insulin Steady  Insulin Up  \
0     Aaron Abernathy   70   Male  Type II               0           1
1        Aaron Barker   70   Male   Type I               0           0
2        Aaron Carder   30   Male  Type II               0           0
3       Aaron Clayton   80   Male  Type II               0           0
4        Aaron Fallis   50   Male  Type II               0           0
5        Aaron Foster   30   Male  Unknown               1           0
6        Aaron Fowler   70   Male  Type II               0           0
7       Aaron Kennedy   70   Male  Type II               0           0
8        Aaron Landes   50   Male   Type I               0           1
9        Aaron Pierre   60   Male  Type II               0           1
10      Aaron Shannon   60   Male  Type II               0           0
11       Aaron Torres   60   Male  Type II               1           0
12        Aaron Walsh   50   Male  Type II               0           0
13     Abel Rhinehart   10   Male   Type I               0           0
14      Abraham Britt   70   Male  Type II               0           0
15  Adalberto Garnett   50   Male   Type I               0           0
16      Adam Blubaugh   30   Male  Type II               0           1
17        Adam Fuller   20   Male   Type I               0           0
18       Adam Hawkins   40   Male  Type II               0           0
19       Adam Kennedy   10   Male  Unknown               1           0
20       Adam Maxwell   20   Male  Type II               0           0
21       Adam Niblett   40   Male  Type II               0           0
22       Adam Parrish   70   Male  Type II               0           0
23      Adam Sullivan   50   Male  Type II               0           1
24        Adam Sutton   40   Male   Type I               0           0
25       Adam Sweeney   50   Male  Type II               0           1
26       Adam Yoshida   40   Male   Type I               1           0
27         Adan Faust   80   Male  Type II               0           0
28        Adan Graham   70   Male   Type I               0           1
29       Adolfo Guion   80   Male  Type II               0           1
30    Adolph Phillips   70   Male  Type II               0           0
31   Adolph Shoemaker   40   Male  Type II               0           1
32      Adolph Taylor   50   Male   Type I               0           0
33      Adrian Arnold   50   Male  Type II               0           0
34      Adrian Manley   40   Male  Type II               0           0
35    Adrian Reynolds   60   Male  Type II               0           1
36      Adrian Robert   90   Male  Type II               1           0
37       Adrian Scott   40   Male   Type I               1           0
38    Agustin Wheeler   60   Male  Type II               0           0
39      Alan Bechtold   10   Male  Unknown               0           0
40          Alan Bobo   20   Male  Type II               0           1
41         Alan Himes   20   Male   Type I               0           1
42    Alan Larochelle   40   Male  Type II               1           0
43        Alan Maiden   40   Male  Type II               0           0
44        Alan Rogers   60   Male  Type II               1           0
45        Alan Rosado   60   Male  Type II               0           0
46     Albert Barbour   20   Male   Type I               0           0
47      Albert Bishop   50   Male  Type II               0           0
48     Albert Bostrom   50   Male  Type II               0           0
49       Albert Clark   60   Male  Type II               0           0
50     Albert Jacquez   40   Male  Type II               0           0
51       Albert Jones   40   Male  Type II               0           0
52      Albert Kelley   90   Male  Type II               0           0
53        Albert Kiel   60   Male  Type II               0           0
54       Albert Lease   40   Male  Type II               1           0

    Insulin Down Readmitted Status           Medications A1C Level
0              0           Unknown         Diabetes meds   Unknown
1              0           Unknown         Diabetes meds   Unknown
2              0           Unknown         Diabetes meds        >8
3              1           Unknown         Diabetes meds   Unknown
4              0           Unknown         Diabetes meds   Unknown
5              0           Unknown         Diabetes meds   Unknown
6              0           Unknown         Diabetes meds        >7
7              0           Unknown         Diabetes meds   Unknown
8              0           Unknown         Diabetes meds       >8.
9              0           Unknown         Diabetes meds   Unknown
10             0           Unknown         Diabetes meds   Unknown
11             0           Unknown         Diabetes meds        >8
12             0           Unknown         Diabetes meds        >8
13             0           Unknown  Not on diabetes meds   Unknown
14             0           Unknown         Diabetes meds   Unknown
15             0           Unknown  Not on diabetes meds   Unknown
16             0           Unknown         Diabetes meds   Unknown
17             1           Unknown         Diabetes meds   Unknown
18             0           Unknown  Not on diabetes meds   Unknown
19             0           Unknown         Diabetes meds        >8
20             0           Unknown         Diabetes meds        >8
21             1           Unknown         Diabetes meds        >8
22             0           Unknown  Not on diabetes meds   Unknown
23             0           Unknown         Diabetes meds        >8
24             1           Unknown         Diabetes meds   Unknown
25             0           Unknown         Diabetes meds   Unknown
26             0           Unknown         Diabetes meds        >7
27             0           Unknown         Diabetes meds   Unknown
28             0           Unknown         Diabetes meds   Unknown
29             0           Unknown         Diabetes meds        >8
30             1           Unknown         Diabetes meds        >8
31             0           Unknown         Diabetes meds   Unknown
32             1           Unknown         Diabetes meds   Unknown
33             0           Unknown         Diabetes meds      Norm
34             0           Unknown         Diabetes meds   Unknown
35             0           Unknown         Diabetes meds   Unknown
36             0           Unknown         Diabetes meds   Unknown
37             0           Unknown         Diabetes meds   Unknown
38             0           Unknown         Diabetes meds   Unknown
39             1           Unknown         Diabetes meds   Unknown
40             0           Unknown         Diabetes meds   Unknown
41             0           Unknown         Diabetes meds        >8
42             0           Unknown         Diabetes meds        >8
43             0           Unknown         Diabetes meds   Unknown
44             0           Unknown         Diabetes meds   Unknown
45             1           Unknown         Diabetes meds        >8
46             0           Unknown         Diabetes meds   Unknown
47             1           Unknown         Diabetes meds   Unknown
48             0           Unknown  Not on diabetes meds   Unknown
49             0           Unknown         Diabetes meds   Unknown
50             0           Unknown         Diabetes meds   Unknown
51             1           Unknown         Diabetes meds        >7
52             0           Unknown  Not on diabetes meds        >8
53             0           Unknown  Not on diabetes meds   Unknown
54             0           Unknown         Diabetes meds        >7

In [29]:
#loading the diabetes dataset to pandas Datafream
df = pd.read_csv('/content/DataOutput.csv')

In [30]:
#printing the first five rows of the dataset
db.head()

,Patient Name,Age,Gender,Output,Insulin Steady,Insulin Up,Insulin Down,Readmitted Status,Medications,A1C Level
0,Aaron Abernathy,70,Male,Type II,0,1,0,Unknown,Diabetes meds,Unknown
1,Aaron Barker,70,Male,Type I,0,0,0,Unknown,Diabetes meds,Unknown
2,Aaron Carder,30,Male,Type II,0,0,0,Unknown,Diabetes meds,>8
3,Aaron Clayton,80,Male,Type II,0,0,1,Unknown,Diabetes meds,Unknown
4,Aaron Fallis,50,Male,Type II,0,0,0,Unknown,Diabetes meds,Unknown

In [31]:
# Create a dictionary of key-value pairs
replacements = {'Type I': 1, 'Type II': 0,'Unknown':1}

# Replace the values in the `type` column
db['Output'] = df['Output'].replace(replacements)

# Print the DataFrame
print(db)

         Patient Name  Age Gender  Output  Insulin Steady  Insulin Up  \
0     Aaron Abernathy   70   Male       0               0           1
1        Aaron Barker   70   Male       1               0           0
2        Aaron Carder   30   Male       0               0           0
3       Aaron Clayton   80   Male       0               0           0
4        Aaron Fallis   50   Male       0               0           0
5        Aaron Foster   30   Male       1               1           0
6        Aaron Fowler   70   Male       0               0           0
7       Aaron Kennedy   70   Male       0               0           0
8        Aaron Landes   50   Male       1               0           1
9        Aaron Pierre   60   Male       0               0           1
10      Aaron Shannon   60   Male       0               0           0
11       Aaron Torres   60   Male       0               1           0
12        Aaron Walsh   50   Male       0               0           0
13     Abel Rhinehart   10   Male       1               0           0
14      Abraham Britt   70   Male       0               0           0
15  Adalberto Garnett   50   Male       1               0           0
16      Adam Blubaugh   30   Male       0               0           1
17        Adam Fuller   20   Male       1               0           0
18       Adam Hawkins   40   Male       0               0           0
19       Adam Kennedy   10   Male       1               1           0
20       Adam Maxwell   20   Male       0               0           0
21       Adam Niblett   40   Male       0               0           0
22       Adam Parrish   70   Male       0               0           0
23      Adam Sullivan   50   Male       0               0           1
24        Adam Sutton   40   Male       1               0           0
25       Adam Sweeney   50   Male       0               0           1
26       Adam Yoshida   40   Male       1               1           0
27         Adan Faust   80   Male       0               0           0
28        Adan Graham   70   Male       1               0           1
29       Adolfo Guion   80   Male       0               0           1
30    Adolph Phillips   70   Male       0               0           0
31   Adolph Shoemaker   40   Male       0               0           1
32      Adolph Taylor   50   Male       1               0           0
33      Adrian Arnold   50   Male       0               0           0
34      Adrian Manley   40   Male       0               0           0
35    Adrian Reynolds   60   Male       0               0           1
36      Adrian Robert   90   Male       0               1           0
37       Adrian Scott   40   Male       1               1           0
38    Agustin Wheeler   60   Male       0               0           0
39      Alan Bechtold   10   Male       1               0           0
40          Alan Bobo   20   Male       0               0           1
41         Alan Himes   20   Male       1               0           1
42    Alan Larochelle   40   Male       0               1           0
43        Alan Maiden   40   Male       0               0           0
44        Alan Rogers   60   Male       0               1           0
45        Alan Rosado   60   Male       0               0           0
46     Albert Barbour   20   Male       1               0           0
47      Albert Bishop   50   Male       0               0           0
48     Albert Bostrom   50   Male       0               0           0
49       Albert Clark   60   Male       0               0           0
50     Albert Jacquez   40   Male       0               0           0
51       Albert Jones   40   Male       0               0           0
52      Albert Kelley   90   Male       0               0           0
53        Albert Kiel   60   Male       0               0           0
54       Albert Lease   40   Male       0               1           0

    Insulin Down Readmitted Status           Medications A1C Level
0              0           Unknown         Diabetes meds   Unknown
1              0           Unknown         Diabetes meds   Unknown
2              0           Unknown         Diabetes meds        >8
3              1           Unknown         Diabetes meds   Unknown
4              0           Unknown         Diabetes meds   Unknown
5              0           Unknown         Diabetes meds   Unknown
6              0           Unknown         Diabetes meds        >7
7              0           Unknown         Diabetes meds   Unknown
8              0           Unknown         Diabetes meds       >8.
9              0           Unknown         Diabetes meds   Unknown
10             0           Unknown         Diabetes meds   Unknown
11             0           Unknown         Diabetes meds        >8
12             0           Unknown         Diabetes meds        >8
13             0           Unknown  Not on diabetes meds   Unknown
14             0           Unknown         Diabetes meds   Unknown
15             0           Unknown  Not on diabetes meds   Unknown
16             0           Unknown         Diabetes meds   Unknown
17             1           Unknown         Diabetes meds   Unknown
18             0           Unknown  Not on diabetes meds   Unknown
19             0           Unknown         Diabetes meds        >8
20             0           Unknown         Diabetes meds        >8
21             1           Unknown         Diabetes meds        >8
22             0           Unknown  Not on diabetes meds   Unknown
23             0           Unknown         Diabetes meds        >8
24             1           Unknown         Diabetes meds   Unknown
25             0           Unknown         Diabetes meds   Unknown
26             0           Unknown         Diabetes meds        >7
27             0           Unknown         Diabetes meds   Unknown
28             0           Unknown         Diabetes meds   Unknown
29             0           Unknown         Diabetes meds        >8
30             1           Unknown         Diabetes meds        >8
31             0           Unknown         Diabetes meds   Unknown
32             1           Unknown         Diabetes meds   Unknown
33             0           Unknown         Diabetes meds      Norm
34             0           Unknown         Diabetes meds   Unknown
35             0           Unknown         Diabetes meds   Unknown
36             0           Unknown         Diabetes meds   Unknown
37             0           Unknown         Diabetes meds   Unknown
38             0           Unknown         Diabetes meds   Unknown
39             1           Unknown         Diabetes meds   Unknown
40             0           Unknown         Diabetes meds   Unknown
41             0           Unknown         Diabetes meds        >8
42             0           Unknown         Diabetes meds        >8
43             0           Unknown         Diabetes meds   Unknown
44             0           Unknown         Diabetes meds   Unknown
45             1           Unknown         Diabetes meds        >8
46             0           Unknown         Diabetes meds   Unknown
47             1           Unknown         Diabetes meds   Unknown
48             0           Unknown  Not on diabetes meds   Unknown
49             0           Unknown         Diabetes meds   Unknown
50             0           Unknown         Diabetes meds   Unknown
51             1           Unknown         Diabetes meds        >7
52             0           Unknown  Not on diabetes meds        >8
53             0           Unknown  Not on diabetes meds   Unknown
54             0           Unknown         Diabetes meds        >7

In [32]:
#Dropping row
db=db.drop([])

In [33]:
# Create a dictionary of key-value pairs
replacements = {'Diabetes meds': 1, 'Not on diabetes meds': 0}

# Replace the values in the `type` column
db['Medications'] = df['Medications'].replace(replacements)
A=db
# Print the DataFrame
print(db)

         Patient Name  Age Gender  Output  Insulin Steady  Insulin Up  \
0     Aaron Abernathy   70   Male       0               0           1
1        Aaron Barker   70   Male       1               0           0
2        Aaron Carder   30   Male       0               0           0
3       Aaron Clayton   80   Male       0               0           0
4        Aaron Fallis   50   Male       0               0           0
5        Aaron Foster   30   Male       1               1           0
6        Aaron Fowler   70   Male       0               0           0
7       Aaron Kennedy   70   Male       0               0           0
8        Aaron Landes   50   Male       1               0           1
9        Aaron Pierre   60   Male       0               0           1
10      Aaron Shannon   60   Male       0               0           0
11       Aaron Torres   60   Male       0               1           0
12        Aaron Walsh   50   Male       0               0           0
13     Abel Rhinehart   10   Male       1               0           0
14      Abraham Britt   70   Male       0               0           0
15  Adalberto Garnett   50   Male       1               0           0
16      Adam Blubaugh   30   Male       0               0           1
17        Adam Fuller   20   Male       1               0           0
18       Adam Hawkins   40   Male       0               0           0
19       Adam Kennedy   10   Male       1               1           0
20       Adam Maxwell   20   Male       0               0           0
21       Adam Niblett   40   Male       0               0           0
22       Adam Parrish   70   Male       0               0           0
23      Adam Sullivan   50   Male       0               0           1
24        Adam Sutton   40   Male       1               0           0
25       Adam Sweeney   50   Male       0               0           1
26       Adam Yoshida   40   Male       1               1           0
27         Adan Faust   80   Male       0               0           0
28        Adan Graham   70   Male       1               0           1
29       Adolfo Guion   80   Male       0               0           1
30    Adolph Phillips   70   Male       0               0           0
31   Adolph Shoemaker   40   Male       0               0           1
32      Adolph Taylor   50   Male       1               0           0
33      Adrian Arnold   50   Male       0               0           0
34      Adrian Manley   40   Male       0               0           0
35    Adrian Reynolds   60   Male       0               0           1
36      Adrian Robert   90   Male       0               1           0
37       Adrian Scott   40   Male       1               1           0
38    Agustin Wheeler   60   Male       0               0           0
39      Alan Bechtold   10   Male       1               0           0
40          Alan Bobo   20   Male       0               0           1
41         Alan Himes   20   Male       1               0           1
42    Alan Larochelle   40   Male       0               1           0
43        Alan Maiden   40   Male       0               0           0
44        Alan Rogers   60   Male       0               1           0
45        Alan Rosado   60   Male       0               0           0
46     Albert Barbour   20   Male       1               0           0
47      Albert Bishop   50   Male       0               0           0
48     Albert Bostrom   50   Male       0               0           0
49       Albert Clark   60   Male       0               0           0
50     Albert Jacquez   40   Male       0               0           0
51       Albert Jones   40   Male       0               0           0
52      Albert Kelley   90   Male       0               0           0
53        Albert Kiel   60   Male       0               0           0
54       Albert Lease   40   Male       0               1           0

    Insulin Down Readmitted Status  Medications A1C Level
0              0           Unknown            1   Unknown
1              0           Unknown            1   Unknown
2              0           Unknown            1        >8
3              1           Unknown            1   Unknown
4              0           Unknown            1   Unknown
5              0           Unknown            1   Unknown
6              0           Unknown            1        >7
7              0           Unknown            1   Unknown
8              0           Unknown            1       >8.
9              0           Unknown            1   Unknown
10             0           Unknown            1   Unknown
11             0           Unknown            1        >8
12             0           Unknown            1        >8
13             0           Unknown            0   Unknown
14             0           Unknown            1   Unknown
15             0           Unknown            0   Unknown
16             0           Unknown            1   Unknown
17             1           Unknown            1   Unknown
18             0           Unknown            0   Unknown
19             0           Unknown            1        >8
20             0           Unknown            1        >8
21             1           Unknown            1        >8
22             0           Unknown            0   Unknown
23             0           Unknown            1        >8
24             1           Unknown            1   Unknown
25             0           Unknown            1   Unknown
26             0           Unknown            1        >7
27             0           Unknown            1   Unknown
28             0           Unknown            1   Unknown
29             0           Unknown            1        >8
30             1           Unknown            1        >8
31             0           Unknown            1   Unknown
32             1           Unknown            1   Unknown
33             0           Unknown            1      Norm
34             0           Unknown            1   Unknown
35             0           Unknown            1   Unknown
36             0           Unknown            1   Unknown
37             0           Unknown            1   Unknown
38             0           Unknown            1   Unknown
39             1           Unknown            1   Unknown
40             0           Unknown            1   Unknown
41             0           Unknown            1        >8
42             0           Unknown            1        >8
43             0           Unknown            1   Unknown
44             0           Unknown            1   Unknown
45             1           Unknown            1        >8
46             0           Unknown            1   Unknown
47             1           Unknown            1   Unknown
48             0           Unknown            0   Unknown
49             0           Unknown            1   Unknown
50             0           Unknown            1   Unknown
51             1           Unknown            1        >7
52             0           Unknown            0        >8
53             0           Unknown            0   Unknown
54             0           Unknown            1        >7

In [34]:
print(db)

         Patient Name  Age Gender  Output  Insulin Steady  Insulin Up  \
0     Aaron Abernathy   70   Male       0               0           1
1        Aaron Barker   70   Male       1               0           0
2        Aaron Carder   30   Male       0               0           0
3       Aaron Clayton   80   Male       0               0           0
4        Aaron Fallis   50   Male       0               0           0
5        Aaron Foster   30   Male       1               1           0
6        Aaron Fowler   70   Male       0               0           0
7       Aaron Kennedy   70   Male       0               0           0
8        Aaron Landes   50   Male       1               0           1
9        Aaron Pierre   60   Male       0               0           1
10      Aaron Shannon   60   Male       0               0           0
11       Aaron Torres   60   Male       0               1           0
12        Aaron Walsh   50   Male       0               0           0
13     Abel Rhinehart   10   Male       1               0           0
14      Abraham Britt   70   Male       0               0           0
15  Adalberto Garnett   50   Male       1               0           0
16      Adam Blubaugh   30   Male       0               0           1
17        Adam Fuller   20   Male       1               0           0
18       Adam Hawkins   40   Male       0               0           0
19       Adam Kennedy   10   Male       1               1           0
20       Adam Maxwell   20   Male       0               0           0
21       Adam Niblett   40   Male       0               0           0
22       Adam Parrish   70   Male       0               0           0
23      Adam Sullivan   50   Male       0               0           1
24        Adam Sutton   40   Male       1               0           0
25       Adam Sweeney   50   Male       0               0           1
26       Adam Yoshida   40   Male       1               1           0
27         Adan Faust   80   Male       0               0           0
28        Adan Graham   70   Male       1               0           1
29       Adolfo Guion   80   Male       0               0           1
30    Adolph Phillips   70   Male       0               0           0
31   Adolph Shoemaker   40   Male       0               0           1
32      Adolph Taylor   50   Male       1               0           0
33      Adrian Arnold   50   Male       0               0           0
34      Adrian Manley   40   Male       0               0           0
35    Adrian Reynolds   60   Male       0               0           1
36      Adrian Robert   90   Male       0               1           0
37       Adrian Scott   40   Male       1               1           0
38    Agustin Wheeler   60   Male       0               0           0
39      Alan Bechtold   10   Male       1               0           0
40          Alan Bobo   20   Male       0               0           1
41         Alan Himes   20   Male       1               0           1
42    Alan Larochelle   40   Male       0               1           0
43        Alan Maiden   40   Male       0               0           0
44        Alan Rogers   60   Male       0               1           0
45        Alan Rosado   60   Male       0               0           0
46     Albert Barbour   20   Male       1               0           0
47      Albert Bishop   50   Male       0               0           0
48     Albert Bostrom   50   Male       0               0           0
49       Albert Clark   60   Male       0               0           0
50     Albert Jacquez   40   Male       0               0           0
51       Albert Jones   40   Male       0               0           0
52      Albert Kelley   90   Male       0               0           0
53        Albert Kiel   60   Male       0               0           0
54       Albert Lease   40   Male       0               1           0

    Insulin Down Readmitted Status  Medications A1C Level
0              0           Unknown            1   Unknown
1              0           Unknown            1   Unknown
2              0           Unknown            1        >8
3              1           Unknown            1   Unknown
4              0           Unknown            1   Unknown
5              0           Unknown            1   Unknown
6              0           Unknown            1        >7
7              0           Unknown            1   Unknown
8              0           Unknown            1       >8.
9              0           Unknown            1   Unknown
10             0           Unknown            1   Unknown
11             0           Unknown            1        >8
12             0           Unknown            1        >8
13             0           Unknown            0   Unknown
14             0           Unknown            1   Unknown
15             0           Unknown            0   Unknown
16             0           Unknown            1   Unknown
17             1           Unknown            1   Unknown
18             0           Unknown            0   Unknown
19             0           Unknown            1        >8
20             0           Unknown            1        >8
21             1           Unknown            1        >8
22             0           Unknown            0   Unknown
23             0           Unknown            1        >8
24             1           Unknown            1   Unknown
25             0           Unknown            1   Unknown
26             0           Unknown            1        >7
27             0           Unknown            1   Unknown
28             0           Unknown            1   Unknown
29             0           Unknown            1        >8
30             1           Unknown            1        >8
31             0           Unknown            1   Unknown
32             1           Unknown            1   Unknown
33             0           Unknown            1      Norm
34             0           Unknown            1   Unknown
35             0           Unknown            1   Unknown
36             0           Unknown            1   Unknown
37             0           Unknown            1   Unknown
38             0           Unknown            1   Unknown
39             1           Unknown            1   Unknown
40             0           Unknown            1   Unknown
41             0           Unknown            1        >8
42             0           Unknown            1        >8
43             0           Unknown            1   Unknown
44             0           Unknown            1   Unknown
45             1           Unknown            1        >8
46             0           Unknown            1   Unknown
47             1           Unknown            1   Unknown
48             0           Unknown            0   Unknown
49             0           Unknown            1   Unknown
50             0           Unknown            1   Unknown
51             1           Unknown            1        >7
52             0           Unknown            0        >8
53             0           Unknown            0   Unknown
54             0           Unknown            1        >7

In [35]:
#number of rows and columns in this dataset
db.shape

(55, 10)

In [78]:

# Assuming you have your dataset stored in a DataFrame named 'df'
# Replace 'df' with the actual variable name of your DataFrame

indexInsulin = db[(db['Insulin Steady'] == 0) & (db['Insulin Up'] == 0) & (db['Insulin Down'] == 0)].index
db.drop(indexInsulin, inplace=True)
print(db)

        Patient Name  Age Gender  Output  Insulin Steady  Insulin Up  \
0    Aaron Abernathy   70   Male       0               0           1
3      Aaron Clayton   80   Male       0               0           0
5       Aaron Foster   30   Male       1               1           0
8       Aaron Landes   50   Male       1               0           1
9       Aaron Pierre   60   Male       0               0           1
11      Aaron Torres   60   Male       0               1           0
16     Adam Blubaugh   30   Male       0               0           1
17       Adam Fuller   20   Male       1               0           0
19      Adam Kennedy   10   Male       1               1           0
21      Adam Niblett   40   Male       0               0           0
23     Adam Sullivan   50   Male       0               0           1
24       Adam Sutton   40   Male       1               0           0
25      Adam Sweeney   50   Male       0               0           1
26      Adam Yoshida   40   Male       1               1           0
28       Adan Graham   70   Male       1               0           1
29      Adolfo Guion   80   Male       0               0           1
30   Adolph Phillips   70   Male       0               0           0
31  Adolph Shoemaker   40   Male       0               0           1
32     Adolph Taylor   50   Male       1               0           0
35   Adrian Reynolds   60   Male       0               0           1
36     Adrian Robert   90   Male       0               1           0
37      Adrian Scott   40   Male       1               1           0
39     Alan Bechtold   10   Male       1               0           0
40         Alan Bobo   20   Male       0               0           1
41        Alan Himes   20   Male       1               0           1
42   Alan Larochelle   40   Male       0               1           0
44       Alan Rogers   60   Male       0               1           0
45       Alan Rosado   60   Male       0               0           0
47     Albert Bishop   50   Male       0               0           0
51      Albert Jones   40   Male       0               0           0
54      Albert Lease   40   Male       0               1           0

    Insulin Down Readmitted Status  Medications A1C Level
0              0           Unknown            1   Unknown
3              1           Unknown            1   Unknown
5              0           Unknown            1   Unknown
8              0           Unknown            1       >8.
9              0           Unknown            1   Unknown
11             0           Unknown            1        >8
16             0           Unknown            1   Unknown
17             1           Unknown            1   Unknown
19             0           Unknown            1        >8
21             1           Unknown            1        >8
23             0           Unknown            1        >8
24             1           Unknown            1   Unknown
25             0           Unknown            1   Unknown
26             0           Unknown            1        >7
28             0           Unknown            1   Unknown
29             0           Unknown            1        >8
30             1           Unknown            1        >8
31             0           Unknown            1   Unknown
32             1           Unknown            1   Unknown
35             0           Unknown            1   Unknown
36             0           Unknown            1   Unknown
37             0           Unknown            1   Unknown
39             1           Unknown            1   Unknown
40             0           Unknown            1   Unknown
41             0           Unknown            1        >8
42             0           Unknown            1        >8
44             0           Unknown            1   Unknown
45             1           Unknown            1        >8
47             1           Unknown            1   Unknown
51             1           Unknown            1        >7
54             0           Unknown            1        >7

In [71]:
#seperating the data and labels
X = db.drop(columns=['Output','Gender','Patient Name','Readmitted Status','A1C Level'], axis=1)

Y=db['Output']

In [79]:
#number of rows and columns in this dataset
db.shape

(31, 10)

In [80]:
print(X)

    Age  Insulin Steady  Insulin Up  Insulin Down  Medications
0    70               0           1             0            1
3    80               0           0             1            1
5    30               1           0             0            1
8    50               0           1             0            1
9    60               0           1             0            1
11   60               1           0             0            1
16   30               0           1             0            1
17   20               0           0             1            1
19   10               1           0             0            1
21   40               0           0             1            1
23   50               0           1             0            1
24   40               0           0             1            1
25   50               0           1             0            1
26   40               1           0             0            1
28   70               0           1             0            1
29   80               0           1             0            1
30   70               0           0             1            1
31   40               0           1             0            1
32   50               0           0             1            1
35   60               0           1             0            1
36   90               1           0             0            1
37   40               1           0             0            1
39   10               0           0             1            1
40   20               0           1             0            1
41   20               0           1             0            1
42   40               1           0             0            1
44   60               1           0             0            1
45   60               0           0             1            1
47   50               0           0             1            1
51   40               0           0             1            1
54   40               1           0             0            1

In [81]:
print(Y)

0     0
3     0
5     1
8     1
9     0
11    0
16    0
17    1
19    1
21    0
23    0
24    1
25    0
26    1
28    1
29    0
30    0
31    0
32    1
35    0
36    0
37    1
39    1
40    0
41    1
42    0
44    0
45    0
47    0
51    0
54    0
Name: Output, dtype: int64

In [82]:
#getting the statistical measrures of the data
db.describe()

,Age,Output,Insulin Steady,Insulin Up,Insulin Down,Medications
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.0
mean,47.419355,0.354839,0.290323,0.387097,0.322581,1.0
std,20.325311,0.486373,0.461414,0.495138,0.475191,0.0
min,10.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,40.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,50.000000,0.000000,0.000000,0.000000,0.000000,1.0
75%,60.000000,1.000000,1.000000,1.000000,1.000000,1.0
max,90.000000,1.000000,1.000000,1.000000,1.000000,1.0

In [83]:
db['Output'].value_counts()

0    20
1    11
Name: Output, dtype: int64

0--> Type 2
1--> Type 1

In [84]:
db.groupby('Output').mean()

<ipython-input-84-bd5f46328d7b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  db.groupby('Output').mean()

              Age  Insulin Steady  Insulin Up  Insulin Down  Medications
Output
0       54.500000        0.250000    0.450000      0.300000          1.0
1       34.545455        0.363636    0.272727      0.363636          1.0

In [85]:
print(X)

    Age  Insulin Steady  Insulin Up  Insulin Down  Medications
0    70               0           1             0            1
3    80               0           0             1            1
5    30               1           0             0            1
8    50               0           1             0            1
9    60               0           1             0            1
11   60               1           0             0            1
16   30               0           1             0            1
17   20               0           0             1            1
19   10               1           0             0            1
21   40               0           0             1            1
23   50               0           1             0            1
24   40               0           0             1            1
25   50               0           1             0            1
26   40               1           0             0            1
28   70               0           1             0            1
29   80               0           1             0            1
30   70               0           0             1            1
31   40               0           1             0            1
32   50               0           0             1            1
35   60               0           1             0            1
36   90               1           0             0            1
37   40               1           0             0            1
39   10               0           0             1            1
40   20               0           1             0            1
41   20               0           1             0            1
42   40               1           0             0            1
44   60               1           0             0            1
45   60               0           0             1            1
47   50               0           0             1            1
51   40               0           0             1            1
54   40               1           0             0            1

In [86]:
print(Y)

0     0
3     0
5     1
8     1
9     0
11    0
16    0
17    1
19    1
21    0
23    0
24    1
25    0
26    1
28    1
29    0
30    0
31    0
32    1
35    0
36    0
37    1
39    1
40    0
41    1
42    0
44    0
45    0
47    0
51    0
54    0
Name: Output, dtype: int64

In [45]:
#Data Standarization in particular range so machine learning model can make predection 
#scaler = StandardScaler()

In [46]:
#scaler.fit(X)

In [47]:
#standarized_data=scaler.transform(X)#this will transfrom the data in the same range

In [48]:
#print(standarized_data)

In [49]:
#X=standarized_data
#Y=df['Output']

In [87]:
#print(X) #X will give standarized data
#print(Y)# Y wil give label of the outcome i.e diabetic or non-diabetic

    Age  Insulin Steady  Insulin Up  Insulin Down  Medications
0    70               0           1             0            1
3    80               0           0             1            1
5    30               1           0             0            1
8    50               0           1             0            1
9    60               0           1             0            1
11   60               1           0             0            1
16   30               0           1             0            1
17   20               0           0             1            1
19   10               1           0             0            1
21   40               0           0             1            1
23   50               0           1             0            1
24   40               0           0             1            1
25   50               0           1             0            1
26   40               1           0             0            1
28   70               0           1             0            1
29   80               0           1             0            1
30   70               0           0             1            1
31   40               0           1             0            1
32   50               0           0             1            1
35   60               0           1             0            1
36   90               1           0             0            1
37   40               1           0             0            1
39   10               0           0             1            1
40   20               0           1             0            1
41   20               0           1             0            1
42   40               1           0             0            1
44   60               1           0             0            1
45   60               0           0             1            1
47   50               0           0             1            1
51   40               0           0             1            1
54   40               1           0             0            1
0     0
3     0
5     1
8     1
9     0
11    0
16    0
17    1
19    1
21    0
23    0
24    1
25    0
26    1
28    1
29    0
30    0
31    0
32    1
35    0
36    0
37    1
39    1
40    0
41    1
42    0
44    0
45    0
47    0
51    0
54    0
Name: Output, dtype: int64

Spliting train and test data

In [88]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=2)#train_split_data is already imported from the from sklearn.model_selection import train_test_split
#Y_train contains all the lebel for the X_train data and Y_test contains all the labels for the X_test data
#stratify=Y means that the data will be split in a stratified manner, using Y as the class labels. This ensures that the proportion of each class in the training and test sets is the same as in the original data.
#random_state=2 sets the random seed to ensure that the results are reproducible.

In [89]:
print(X.shape, X_train.shape,X_test.shape)

(31, 5) (24, 5) (7, 5)

Training the model

In [90]:
classifier=svm.SVC(kernel='linear')#here we are loading the support vector model
#A linear kernel is a simple and effective way to separate data that is linearly separable, 
#meaning that a straight line can be drawn to separate the different classes. 
#In the case of diabetes detection using machine learning, it’s possible that the data is linearly separable
# and a linear SVM model can provide good classification performance.

In [91]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation 

Accuracy Score

In [92]:
#accuracy score on the training data
X_train_prediction=classifier.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [93]:
print("Accuracy score of the training data: ", training_data_accuracy)

Accuracy score of the training data:  0.7916666666666666

In [94]:
#accuracy score on the test data
X_test_prediction=classifier.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [58]:
print("Accuracy sore on test data:",test_data_accuracy)

Accuracy sore on test data: 0.8181818181818182

Making a predective system

In [96]:
input_data = (60,0,0,0,0)

#change the input data to a numpy array 
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we area predecting for one instance
#if we do not reshape the array then the model will expect to have 764 data which is the total number of dataset
#it will tell the model we are not looking for all the other 764 instances but only for one instances
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

#we need to standarized the input data since we are not using the raw data but the standarized input data

#standaraizes the input data
#std_data=scaler.transform(input_data_reshaped)
#print(std_data)

prediction=classifier.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):#The prediction gives the values the value in the form of a list and the result is displayed at an index of 0 so
  print("The person is type 2 diabetic")
else:
  print("The person is type 1 diabetic")

[0]
The person is type 2 diabetic

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Saving the trained model

In [97]:
import pickle

In [98]:
filename = 'Diabetes_trained_modelv2.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [99]:
# loading the saved model
loaded_model = pickle.load(open('Diabetes_trained_modelv2.sav', 'rb'))

In [100]:
input_data=(1,0,0,0,0)
#change the input data to a numpy array 
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we area predecting for one instance
#if we do not reshape the array then the model will expect to have 764 data which is the total number of dataset
#it will tell the model we are not looking for all the other 764 instances but only for one instances
input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

#we need to standarized the input data since we are not using the raw data but the standarized input data

#standaraizes the input data
#std_data=scaler.transform(input_data_reshaped)
#print(std_data)

prediction=loaded_model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]==0):#The prediction gives the values the value in the form of a list and the result is displayed at an index of 0 so
  print("The person is type 2 diabetic")
else:
  print("The person is type 1 diabetic")

[1]
The person is type 1 diabetic

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(